

html {
	margin: 0 auto;

-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}

body {
	background-color: #89AFF5;
}

#main {
	width: 650px;
	height: auto;
	background-color: #7BA1E8;
	
	margin-left: auto;
	margin-right: auto;
	
}

#main h2 {
	text-align: center;
}

#nav {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#nav ul {
	list-style-type: none;
	text-align: center;
}

#nav li {
	float: left;
	margin-right: 10px;
}

#content {
	width: 600px;
	height: auto;
	background-color: #8FB6FF;
	padding: 15px;
	
	margin-left: auto;
	margin-right: auto;
	
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}

#footer {
	text-align: center;
	padding: 2px;
}

#footer h5 a {
	font-size: 77px;
	text-decoration: none;
	color: #C2081D;
}

#footer h5 a:link {
	font-size: 77px;
	text-decoration: none;
	color: #C2081D;
}


#footer h5 a:visited {
	font-size: 77px;
	text-decoration: none;
	color: #820816;
}

#footer h5 a:hover {
	font-size: 77px;
	text-decoration: none;
	color: #300309;
}

#footer h5 a:active {
	font-size: 77px;
	text-decoration: none;
	color: #820816;
}
